<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated FRIPP -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dsm.FRIPP.presentation.FRIPPModelWizardID"
            name="%_UI_FRIPPModelWizard_label"
            class="dsm.FRIPP.presentation.FRIPPModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FRIPPModelFile.gif">
         <description>%_UI_FRIPPModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated FRIPP -->
      <editor
            id="dsm.FRIPP.presentation.FRIPPEditorID"
            name="%_UI_FRIPPEditor_label"
            icon="icons/full/obj16/FRIPPModelFile.gif"
            extensions="fripp"
            class="dsm.FRIPP.presentation.FRIPPEditor"
            contributorClass="dsm.FRIPP.presentation.FRIPPActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated FRIPP -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dependencyModel.presentation.DependencyModelModelWizardID"
            name="%_UI_DependencyModelModelWizard_label"
            class="dependencyModel.presentation.DependencyModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DependencyModelModelFile.gif">
         <description>%_UI_DependencyModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated FRIPP -->
      <editor
            id="dependencyModel.presentation.DependencyModelEditorID"
            name="%_UI_DependencyModelEditor_label"
            icon="icons/full/obj16/DependencyModelModelFile.gif"
            extensions="dependencymodel"
            class="dependencyModel.presentation.DependencyModelEditor"
            contributorClass="dependencyModel.presentation.DependencyModelActionBarContributor">
      </editor>
   </extension>

</plugin>
