<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FRIPP -->
      <package
            uri="http://www.example.org/FRIPP"
            class="dsm.FRIPP.FRIPPPackage"
            genModel="model/FRIPP.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated FRIPP -->
      <parser
            type="fripp"
            class="dsm.FRIPP.util.FRIPPResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FRIPP -->
      <package
            uri="dsm.PROVE"
            class="PROVE.PROVEPackage"
            genModel="model/FRIPP.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FRIPP -->
      <package
            uri="http://www.example.org/dependencyModel"
            class="dependencyModel.DependencyModelPackage"
            genModel="model/FRIPP.genmodel"/>
   </extension>

</plugin>
